<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>vinhdk.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>vinhdk.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>vinhdk.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>vinhdk.controllers.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>vinhdk.controllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>vinhdk.controllers.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>vinhdk.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>vinhdk.controllers.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AwardController</servlet-name>
        <servlet-class>vinhdk.controllers.AwardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>vinhdk.controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>vinhdk.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>vinhdk.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePrizeController</servlet-name>
        <servlet-class>vinhdk.controllers.DeletePrizeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>vinhdk.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>vinhdk.controllers.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePrizeController</servlet-name>
        <servlet-class>vinhdk.controllers.CreatePrizeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPrizeController</servlet-name>
        <servlet-class>vinhdk.controllers.EditPrizeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePrizeController</servlet-name>
        <servlet-class>vinhdk.controllers.UpdatePrizeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEventController</servlet-name>
        <servlet-class>vinhdk.controllers.LoadEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailsController</servlet-name>
        <servlet-class>vinhdk.controllers.ShowDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserJoinController</servlet-name>
        <servlet-class>vinhdk.controllers.UserJoinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEventController</servlet-name>
        <servlet-class>vinhdk.controllers.UserEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAvatarController</servlet-name>
        <servlet-class>vinhdk.controllers.ChangeAvatarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventPrizeController</servlet-name>
        <servlet-class>vinhdk.controllers.EventPrizeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPrizeController</servlet-name>
        <servlet-class>vinhdk.controllers.AddPrizeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePrizeEventController</servlet-name>
        <servlet-class>vinhdk.controllers.DeletePrizeEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserEventController</servlet-name>
        <servlet-class>vinhdk.controllers.DeleteUserEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPrizeController</servlet-name>
        <servlet-class>vinhdk.controllers.UserPrizeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPrizeUserController</servlet-name>
        <servlet-class>vinhdk.controllers.AddPrizeUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotController</servlet-name>
        <servlet-class>vinhdk.controllers.ForgotController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AwardController</servlet-name>
        <url-pattern>/AwardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePrizeController</servlet-name>
        <url-pattern>/DeletePrizeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/page_ready_404.html</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/EditUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePrizeController</servlet-name>
        <url-pattern>/CreatePrizeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPrizeController</servlet-name>
        <url-pattern>/EditPrizeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePrizeController</servlet-name>
        <url-pattern>/UpdatePrizeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEventController</servlet-name>
        <url-pattern>/LoadEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailsController</servlet-name>
        <url-pattern>/ShowDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserJoinController</servlet-name>
        <url-pattern>/UserJoinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEventController</servlet-name>
        <url-pattern>/UserEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAvatarController</servlet-name>
        <url-pattern>/ChangeAvatarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventPrizeController</servlet-name>
        <url-pattern>/EventPrizeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPrizeController</servlet-name>
        <url-pattern>/AddPrizeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePrizeEventController</servlet-name>
        <url-pattern>/DeletePrizeEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserEventController</servlet-name>
        <url-pattern>/DeleteUserEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPrizeController</servlet-name>
        <url-pattern>/UserPrizeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPrizeUserController</servlet-name>
        <url-pattern>/AddPrizeUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotController</servlet-name>
        <url-pattern>/ForgotController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoadEventController</welcome-file>
    </welcome-file-list>
</web-app>
